<!-- Наследование главного html страницы -->
{% extends 'app1/base.html' %}

<!-- Мета теги -->
{% block meta_html %}
<meta name="descriptription" content="Регистрация" />
<meta name="keywords" content="Регистрация, Form" />
{% endblock %}

<!-- Стиль для страницы -->
{% block style_html %}
<style>
  .ForForm {
    background-color: red;
    border: 3px solid #000;
    margin: 150px 400px 0px 400px;
    height: 300px;
    width: 300;
    padding: 20px;
  }

  .textFonts {
    font-size: 30px;
  }
</style>
{% endblock %}

{% block title_html %}
Form
{% endblock %}

{% block body_html %}
<section class="ForForm">
  <div class="textFonts">
    <form method="POST" novalidate>
      {% csrf_token %}
      {{ form.as_ul }}
      <input type="submit" value="Send">
    </form>
  </div>
</section>
{% endblock %}