<!-- Наследование главного html страницы -->
{% extends 'app1/base.html' %}

<!-- Мета теги -->
{% block meta_html %}
<meta name="descriptription" content="Основная страница" />
<meta name="keywords" content="Home, Погода" />
{% endblock %}

<!-- CSS код  -->
<!--! Сюда пиши css код -->
{% block style_html %}
<style>
  .borderForWeather {
    margin: 100px 0px 0px 430px;
    border: 3px solid;
    background-color: black;
    width: 600px;
    height: 440px;
    box-shadow: 2px 2px 2px #000;
    padding: 17px;
  }

  .FontsForWeather {
    font-size: 30px;
    color: white;
  }
</style>
{% endblock %}

<!-- Заголовок -->
{% block title_html %}
Home
{% endblock %}

<!-- Оновная часть -->
<!--! Это пункт 4. -->
{% block body_html %}
<section class="borderForWeather">
  <p style="font-size: 40px;text-align: center;">Погода</p>
  <div class="FontsForWeather">
    <p>В Украине:</p><br />
    <p>Температура: {{ t1 }}</p>
    {% if t1 < 10 %} <p>Прохладно</p>
      {% else %}
      <p>Норм погода</p>
      {% endif %}
      <p>Ощущается как: {{ t2 }}</p><br />
      <p>Максимальная: {{ t3 }}</p><br />
      <p>Минимальная: {{ t4 }}</p><br />
      <p>{{ time }}</p>

  </div>
</section>
{% endblock %}