<!-- Наследование главного html страницы -->
{% extends 'app1/base.html' %}

<!-- Мета теги -->
{% block meta_html %}
<meta name="descriptription" content="Ппосто привествие " />
<meta name="keywords" content="Welcome" />
{% endblock %}

<!-- Стиль для страницы -->
<!--! Сюда пиши css код -->
{% block style_html %}
<style>
  /* Контуры для слова welcome */
  .borderForWecome {
    border: 4px solid;
    margin: 200px;
    width: 1000px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #000;
    background-color: black;
  }

  /* Размер и толщина фрифта */
  .fontsForWelcome {
    font-size: 79px;
    color: white;
    font-weight: bold;
    text-align: center;
  }
</style>
{% endblock %}

<!-- Заголовок -->
{% block title_html %}
Welcome
{% endblock %}

<!-- Оновная часть -->
<!--! Это пункт 1. -->
{% block body_html %}
<!-- Просто надпись -->
<div class="borderForWecome">
  <div class="fontsForWelcome">
    Welcome
  </div>
</div>
{% endblock %}